#navbar-elements {
  color: #8B0000;
}
#learn2 {
  background-color: #FDE8E3;
  color: #8B0000;
}
#contact {
  color: #8B0000;
}
#send {
  background-color: #FDE8E3;
  color: #8B0000;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #9B0000, #FDA8A3);
  background: linear-gradient(to right, #9B0000, #FDA8A3);
}

.about-banner {
    height: 100vh;
    background: url(img/about_banner.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}
